
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Titillium+Web:wght@400;600&display=swap');

/* variables */
:root{
    --bg_color:#242a2b;
    --div_color :#f0f0e9;
    --text_color: #242a2b;
}
[data-theme="dark"] {
     --bg_color:#f0f0e9;
    --div_color :#242a2b;
    --text_color: #f0f0e9;
}

[no-color="noColor"]{
    --element_color:rgba(255, 255, 255, 0);
}
[no-color="orange"]{
    --element_color:#E55604;
}
[no-color="purple"]{
    --element_color:rgb(87, 25, 168);
}
[no-color="blue"]{
    --element_color:#242f91;
}

/* globals */
body{
    background-color: var(--bg_color);
}
#main_div{
    background-color:var(--div_color) ;
}

h2{
    font-family: titillium web, sans-serif;
    font-size:3.5em;
    font-weight: bolder;
    color :var(--text_color)
}

.effects_buttons{
    display: flex;
    flex-direction: column;
 position: fixed;
 right:2em;
 top:2em;
}

.effects_buttons svg{

    height: 1.2em;
    width: auto;
    fill: var(--text_color);
}
/* header */

header{
    font-family: Titillium Web , sans-serif;
    font-size: large;
    color: var(--text_color);
    height: 3rem;
    /* border: blue solid 1px; */
}

header li{
    max-width: 40vw;
    max-height: 5vh;
}


header li{
    list-style: none;
    text-transform: uppercase;
}
header li a{
    color: var(--text_color);
    text-decoration: none;
}


/* home */
#home{
    height: 55rem;
    /* border: red solid 1px; */
}

#avatar{
    max-height: 50vh;
    max-width: 100%;
    width: auto;
    filter: drop-shadow(5px 5px 5px var(--text_color));
}

#home h2{
    font-family: Titillium Web , sans-serif;
    color:var(--text_color);
}
#home h3{
    font-family: Titillium Web , sans-serif;
    color:var(--text_color);
}
#home p{
    font-family: Montserrat, serif;
    position: relative;
    color:var(--text_color);
}

#home p:before{
    position: absolute;
    content: "";
    height: 0.2em;
    width: 1.5em;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(22,199,75,1) 100%);
    left:-2rem;
    top:48%;
}
#home p:after{
    position: absolute;
    content: "";
    height: 0.2em;
    width: 1.5em;
    background: linear-gradient(90deg, rgba(22,199,75,1) 0%, rgba(255,255,255,0) 100%);
    right:-2rem;
    top:48%;
}



/* about */
#about{
    border: 1px solid yellow;
}
/* skills */

/* contact */



/* media queries */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
