
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Titillium+Web:wght@400;600&display=swap');

/* === variables === */
:root{
    --div_color :#FEFBE9;
    --text_color: #111111;
}
[data-theme="dark"] {
    --div_color :#111111;
    --text_color: #FEFBE9;
}

[color-pop="noColor"]{
    --element_color:rgba(255, 255, 255, 0);
}
[color-pop="orange"]{
    --element_color:#F76B15;
}
[color-pop="purple"]{
    --element_color:#8E4EC6;
}
[color-pop="blue"]{
    --element_color:#3E63DD;
}

/* === globals === */

body{
    background-color: var(--div_color);
    caret-color: transparent;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: titillium web, sans-serif;
    font-size:4em;
    font-weight: bolder;
    color :var(--text_color)
}
h2{
    font-family: titillium web, sans-serif;
    font-size:3em;
    font-weight: bolder;
    color :var(--text_color)
}

section{
    background-color:var(--div_color) ;
    height: 100vh;
    background-color: var(--div_color);
    margin-bottom: 3em;
    padding: 6em;
}

.hidden{
    visibility: hidden;
}



/* === scroll bar === */
::-webkit-scrollbar {
    width: 0.8em;
    background-color: var(--div_color);
}
::-webkit-scrollbar-thumb {
    background: var(--text_color);
    border-radius: 3px;
}


/* === top_bar === */
#top_bar{
    position:fixed;
    height: 5em;
    top:0;
    z-index:100;
}

/* trad button (toggle switch) */
.container_trad {
    margin: auto;
    display: flex;
}

.toggle {
    width:1.5em;
    height: 3.5em;
    background-color: var(--div_color);
    border-radius: 1.7rem;
    padding: .25em 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 300ms 300ms;
}

.toggle__circle {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--text_color);
    border-radius: 50%;
    margin-top: calc(3.5em - (.25em * 2) - 1em);
    transition: margin 500ms ease-in-out;
}

.toggle-text {
    line-height: 1;
    
}
.toggle-text p{
    font-weight: bold;
    color : var(--text_color)
}

#check:checked + .toggle > .toggle__circle {
    margin-top: 0;
}

#check:checked + .toggle {
    background-color: var(--element_color);
}

.effects_buttons{
    display: flex;   
    fill: var(--text_color);
}

#logo_perso{
    fill: var(--text_color)
}

#color_mode_div{
    height:2em;
    width: 2em;
}

.color_splashes{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:101;
    top:0;
    left:4%;
}
.splash{
    height:0.4em;
    width: auto;
    overflow: visible;
    cursor:pointer;
}
.orange{
    fill:#F76B15;
    position: relative;
    left:11%;
    bottom:10%;
}
.purple{
    fill:#8E4EC6;
    position: relative; 
    left:4.5%;
    top:-25%;
}
.blue{
    fill:#3E63DD;
    position: relative;  
    left: -2%;
    bottom:12%;
}
.unset{
    fill:var(--div_color);
    position: relative;  
    left: 5%;
    bottom:58%;
}

/* === social media === */

#social_media{
    position: fixed;
    z-index:1000;
    top:45%;
    left:1em;
}

#social_media svg{
    fill: var(--text_color);
    width:5em;
    height:5em;
}


/* === home === */

#hero_image{
    position: relative;
    max-height: 75vh;
    max-width: auto;
    width: auto;
    filter: drop-shadow(-10px -10px 15px var(--element_color));
}



#home h2{
    font-family: Titillium Web , sans-serif;
    color:var(--text_color);
}
#home h3{
    font-family: Titillium Web , sans-serif;
    color:var(--text_color);
}
#home p{
    font-family: Montserrat, serif;
    position: relative;
    color:var(--text_color);
}

#statut:before{
    position: absolute;
    content: "";
    height: 0.2em;
    width: 1.5em;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #30A46C 100%);
    left:-2rem;
    top:48%;
}
#statut:after{
    position: absolute;
    content: "";
    height: 0.2em;
    width: 1.5em;
    background: linear-gradient(90deg, #30A46C 0%, rgba(255,255,255,0) 100%);
    right:-2rem;
    top:48%;
}

#statut_precision{
        height: 8em;
        border-radius: 5px;
        border: 1px solid var(--text_color);
}


/* === about === */

article{
    color: var(--text_color);
}

#avatar{
    max-height: 50vh;
    max-width: 100%;
    width: auto;
    transform: scaleX(-1);
    filter: drop-shadow(5px 5px 5px var(--text_color));
    filter: drop-shadow(15px 15px 15px var(--element_color));
}


/* === skills === */
.card_wrapper{
    height: 100%;
    width: 100%;
}

.skills_card{
    height: 60%;
    width: 60%;
    padding: 1em;
    border: 1px red solid;
    background-color: var(--div_color);
    overflow-y: hidden;
    translate: 0 3em;
    box-shadow: 1px 3px 3px var(--text_color);
}

#skills h3{
    font-family: Titillium Web , sans-serif;
    font-size: 2em;
    color:var(--text_color);
    margin-bottom: 2em;
}

.skills_card img{
    width: 100%;
}

.skills_card .img_card_hori{
    height: 100%;
    width: auto;
    translate:-60%;
}

.skills_card .img_card_hori:hover{
    transform:translateX(60%) ;
    transition-duration: 2s;
}

.skills_card img:hover{
    transform:translateY(-60%) ;
    transition-duration: 2s;
}

.skills_card svg{
    fill:var(--text_color);
    height: 4em;
}



/* === contact === */
#contact h2{
    font-family: Titillium Web , sans-serif;
    color:var(--text_color);
}

#contact p{
    color: var(--text_color);
}
#contact a{
    color: var(--text_color)
}
#contact a:visited{
    color: var(--text_color)
}

.contact_links{
    position: relative;
}
#contact svg{
    position: absolute;
    left :-8em;
    top:1em;
    rotate:-20deg;
    width: 10em;
    height: 5em;
    fill:var(--text_color);
    stroke: var(--text_color);
}



/* === media queries === */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 321px) { 
    #contact svg{
        position: absolute;
        left :-4em;
        top:10em;
        rotate:90deg;
        width: 5em;
        height: 3em;
        fill:var(--text_color);
        stroke: var(--text_color);
        transform:scaleX(-1)
    }
}
@media (max-width: 576px) { 
    #contact svg{
        position: absolute;
        left :-4em;
        top:0em;
        rotate:90deg;
        width: 5em;
        height: 3em;
        fill:var(--text_color);
        stroke: var(--text_color);
        transform:scaleX(-1)
    }
    #social_media{
        position: fixed;
        z-index:1000;
        top:45%;
        left:0em;
    }

    #social_media svg{
        fill: var(--text_color);
        width:3em;
        height:3em;
    }


} 

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #contact svg{
        position: absolute;
        left :-5em;
        top:1em;
        rotate:-5deg;
        width: 5em;
        height: 3em;
        fill:var(--text_color);
        stroke: var(--text_color);
    }
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
